@model Covid19.Models.API.CovidModel.Root
@{
        ViewBag.Title = "Home Page";
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Styles.Render("~/Content/datatables/css/datatables")
}
<div class="jumbotron">
    <h1>Covid-19</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><b>TimeOut</b></span>
            @Html.TextBoxFor(m => m.timed_out, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><b>Took</b></span>
            @Html.TextBoxFor(m => m.took, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><b>TimeOut</b></span>
            @Html.TextBoxFor(m => m._shards, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>

<div class="row">
    <table id="tbl-covid" class="table table-bordered table-condensed table-striped without-break-line" style="width:100%;">
        <thead>
            <tr>
                <th>Estado</th>
                <th>Estado Sigla</th>
                <th>Municipio</th>
                <th>Cnes</th>
                <th>Data Notificacao Ocupacao</th>
                <th>Ocup Hosp Cli</th>
                <th>Ocup Hosp Uti</th>
                <th>Ocup SRAG Cli</th>
                <th>Ocup SRAG Uti</th>
                <th>Altas</th>
                <th>Obitos</th>
                <th>Ocupação Informada</th>
                <th>Alguma Ocupação Informada</th>
                <th>Nome Cnes</th>
                <th>Oferta Respiradores</th>
                <th>Oferta Hosp Cli</th>
                <th>Oferta Hosp Uti</th>
                <th>Oferta SRAG Cli</th>
                <th>Oferta SRAG Uti</th>
            </tr>
        </thead>
        @foreach (var item in Model.hits.hits)
        {
            <tbody>
                <tr>
                    <th>@item._source.estado</th>
                    <th>@item._source.estadoSigla</th>
                    <th>@item._source.municipio</th>
                    <th>@item._source.cnes</th>
                    <th>@item._source.dataNotificacaoOcupacao</th>
                    <th>@item._source.ocupHospCli</th>
                    <th>@item._source.ocupHospUti</th>
                    <th>@item._source.ocupSRAGCli</th>
                    <th>@item._source.ocupSRAGUti</th>
                    <th>@item._source.altas</th>
                    <th>@item._source.obitos</th>
                    <th>@item._source.ocupacaoInformada</th>
                    <th>@item._source.algumaOcupacaoInformada</th>
                    <th>@item._source.nomeCnes</th>
                    <th>@item._source.ofertaRespiradores</th>
                    <th>@item._source.ofertaHospCli</th>
                    <th>@item._source.ofertaHospUti</th>
                    <th>@item._source.ofertaSRAGCli</th>
                    <th>@item._source.ofertaSRAGUti</th>
                </tr>
            </tbody>
        }
        <tfoot>

        </tfoot>
    </table>
</div>
